modules = ["nodejs-20", "web"]
run = "yarn dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "yarn preview"]
build = ["sh", "-c", "yarn build"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 42501159
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn dev"

[[workflows.workflow]]
name = "Test"
author = 42501159
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn jest"

[[workflows.workflow]]
name = "Full Test Suite"
author = 42501159
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn test"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yarn test:coverage"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 3001
